:root {
  --first-color: rgb(217, 0, 98);
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: rgb(20, 25, 45);
  --second-alpha-color: rgba(20, 25, 45, 0.45);
  --third-color: rgb(80, 20, 100);
  --third-alpha-color: rgba(80, 20, 100, 0.75);

  --link-color: rgb(99, 99, 99);
  --link-alpha-color: rgba(80, 158, 227, 0.75);

  --bg-color: rgb(249, 242, 242);
  --bg-alpha-color: rgb(206, 206, 206, 0.75);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

a {
  color: var(--link-color) !important;
  transition: all 0.3s ease-out !important;
}
a:hover {
  color: rgb(255, 178, 64) !important;
}

.bg-color {
  background-color: var(--bg-color);
}
.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}
.bg-second-alpha-color {
  background-color: var(--second-alpha-color);
}

.border-dash {
  border: gray dashed;
  transition: all 0.3s ease-out;
}
.border-dash:hover {
  border: rgb(255, 178, 64) dashed;
  box-shadow: 0.5rem 0.08rem 0.08rem gray;
}

.itaipu-fondo {
  position: relative;
  background-image: url(../img/fondo-itaipu.jpg);
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  z-index: 0;
}
.itaipu-fondo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.8); /* Opacidad del 50% */
  z-index: 1;
}

.text-gray {
  color: var(--bg-color);
}
.navbar-brand img {
  height: 30px;
  width: auto;
}

.vh-80 {
  height: 80vh;
}
.ce-style-image {
  max-height: 90vh;
  object-fit: contain;
}

.text-usf {
  color: rgb(117, 169, 156);
}
/* Colores de los controles del carousel lo que le procede a %23(en hexadecimal)*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' %3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.z-i {
  z-index: 999 !important;
  color: black;
  display: block;
  position: relative;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2323272e' %3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2323272e' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
